<style>
    nav {
        float: top;
        width: 100%;
        background: #ccc;
        padding: 0px;
    }
    a.nav {color:blue;}
    a.nav:link  {color: blue;}
    a.nav:visited {color: blue;}
    a.nav:hover {text-decoration: underline; color: blue;}
    a.nav:active {color: blue;}
    article {
        padding: 20px;
        width: 80%;
        height: auto; /* only for demonstration, should be removed */
    }
    @media (max-width: 600px) {
        nav, article {
            width: 100%;
            height: auto;
        }
    }
</style>